#airport-image {
	width : 100% ;
}

.parallax-container {
  height: 400px;
  width: 100%
}

#image-cover {
	background-color: rgba(0, 0, 0, 0.6);
}

.question-div {
    padding: 10px 10px 10px 10px; 
}
