{% load static %}

<!DOCTYPE html>

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>      

	<title>{% block title %}{% endblock %}</title>

	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
	<link rel="stylesheet" href="{% static 'mainsite/base.css' %}">

	{% block meta %}{% endblock %}
</head>
 

<body id="{% block body_id %}{% endblock %}" class="{% block body_class %}{% endblock %}">
	
	<header>
			
	</header>
	
	<main>
		{% block body %}
			{% block parallax %}
				<div id="image-cover" >
					<div id="index-banner" class="parallax-container">
						<div class="section no-pad-bot center-align">
							<br><br>
							<p>
								<img id="pitt-airport-logo" src="http://www.flypittsburgh.com/App_Themes/FlyPitt/Images/logo-pitt-white.svg">
							</p>
							<p>
								<img id="cmu-logo" src="https://personalrobotics.ri.cmu.edu/static/img/CMU_logo_horiz_red.png" >
							</p>
							
						</div>

						<div class="parallax">
							<img id="airport-image" src="https://upload.wikimedia.org/wikipedia/commons/0/0c/Pittsburgh_International_Airport_Airside_Terminal.jpg" alt="Pittsburgh International Airport">
						</div>
					</div>
				</div>
			{% endblock %}
			
			{% block content %}
			
			{% endblock %}
		{% endblock %}

		{% block footer %}
		{% endblock %}
	</main>
	
</body>


<script src="//code.jquery.com/jquery-2.1.2.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script> 
<script type="text/javascript" src="{% static 'mainsite/base.js' %}"></script>

{% block script %}{% endblock %}        

</html>