{% extends 'mainsite/base.html' %}
{% load static %}

{% block title %}
Pittsburgh Airport
{% endblock %}

{% block meta %}
	<!-- <link rel="stylesheet" href="{% static 'mainsite/index.css' %}"> -->
{% endblock %}

{% block content %}
<br><br>
<div class="container">
	<div class="card-panel">
		<div>
			This survey is part of research work of a Student Team at Carnegie Mellon University. Upon submitting the survey, you will be entered for a chance to win a $250 Visa gift card (the winner will be contacted via email). By entering your email and clicking “Next”, you are agreeing that your responses can be used in this research.<br><br>

			<span class="red-text">Disclaimer:</span> This contest is only for passengers traveling from Pittsburgh International Airport. Employees of the Allegheny County Airport Authority as well as employees of Airport Authority tenants and subtenants are not eligible to participate.
		</div><br><br>

		<form id="new_user_form" method="POST">
			<div class="row">
				{% csrf_token %}
				<div class="input-field col s12">
					<i class="material-icons prefix">email</i>
					<input placeholder="Please Enter Your Email" id="id_email" name="email" type="text" class="" required="true"> 
					<label for="first_name">Email</label>
				</div>

				<div class="input-field col 12 red-text right">
					{{ form.email.errors }}
				</div>
			</div>
		</form><br><br>

		<div class="row">
			<p class="center-align col s12">
				<a class="grey darken-2 waves-effect waves-light btn " onclick="$('#new_user_form').submit()">Next</a>
			</p>
		</div>
	</div>
</div>

{% endblock %}


{% block script %}     

{% endblock %} 