{% extends 'mainsite/base.html' %}
{% load static %}

{% block title %}
Spending Information
{% endblock %}

{% block meta %}
	<link rel="stylesheet" href="">
{% endblock %}

{% block content %}
<br><br>

<div class="container">
	<div class="card-panel row">
		<div class="">
			Glad to see you!<br>
			Your Email is 
			<span class="blue-text text-darken-1">
			{{email}}
			</span>
			If it is not your email, please click <a href="{% url 'mainsite:welcome' %}">here</a> to retype your own email.
		</div><br><br>
		
		<div class="red-text text-darken-1">
			* Required
		</div>

		<br><br>

		<form id="form" action="#" method="POST">
			{% csrf_token %}

			<div 
				{% if form.area.errors %}
					class="question-div red lighten-5 s12 m6"
				{% else %}
					class="question-div col s12 m6"
				{% endif %}
			>
				<h5>{{form.area.label}}:
					<span class="red-text text-darken-1">*</span>
				</h5>
				
				{{form.area}}
				<label class="red-text text-darken-1">{{form.area.errors}}</label>
			</div>
			
			<div 
				{% if form.shop.errors %}
					class="question-div red lighten-5 s12 m6"
				{% else %}
					class="question-div col s12 m6"
				{% endif %}
			>
				<h5>{{form.shop.label}}:
					<span class="red-text text-darken-1">*</span>
				</h5>
				
				{{form.shop}}
				<label class="red-text text-darken-1">{{form.shop.errors}}</label>
			</div>

			<br><br>
			

			<!-- spending -->
			<div 
				{% if form.spending.errors %}
					class="question-div red lighten-5 col s12"
				{% else %}
					class="question-div col s12"
				{% endif %}
			>
				<h5>{{form.spending.label}}:
					<span class="red-text text-darken-1">*</span>
				</h5>
				{% for radio in form.spending %}
				<p>  
				    {{ radio.tag }}
				    <label for="{{ radio.id_for_label }}">
				    	{{ radio.choice_label }}
				    </label>
				</p>
				{% endfor %}
				<label class="red-text text-darken-1">{{form.spending.errors}}</label>
			</div>
			<br><br>
			
		
		</form>

		<p class="center-align col s12">
			<a class="grey darken-2 waves-effect waves-light btn " onclick="$('#form').submit()">Submit</a>
		</p>
	</div>
</div>

{% endblock %}


{% block script %}     
<script type="text/javascript" src="{% static 'mainsite/shopActivity.js' %}"></script>
{% endblock %} 