{% extends 'mainsite/base.html' %}
{% load static %}

{% block title %}
Next
{% endblock %}

{% block meta %}
	<link rel="stylesheet" href="">
{% endblock %}

{% block content %}
<br><br>

<div class="container">
	<div class="card-panel">
		<div class="">
			Your survey has been received. You have been entered to win a $250 Visa gift card.  The winner will be chosen on May 5, 2017. To claim the prize, with winner must pick up the gift card at Pittsburgh International Airport by showing their photo I.D. to a designated staff member <br><br>
			
			You would be contacted by this email if you win the $250 gift card:
			(<span class="blue-text text-darken-1">{{email}}</span>)<br><br>

			Thank you for your participation! 
		</div>

		
	</div>
</div>

{% endblock %}


{% block script %}     

{% endblock %} 