{% extends 'mainsite/base.html' %}
{% load static %}

{% block title %}
Next
{% endblock %}

{% block meta %}
	<link rel="stylesheet" href="">
{% endblock %}

{% block content %}
<br><br>

<div class="container">
	<div class="card-panel">
		<div class="">
			We have record your email (<span class="blue-text text-darken-1">{{email}}</span>) and your answers.
			Thank you very much!<br><br>
			Wish you will get the $250 gift card.
		</div>

		
	</div>
</div>

{% endblock %}


{% block script %}     

{% endblock %} 