{% extends 'mainsite/base.html' %}
{% load static %}

{% block title %}
Next
{% endblock %}

{% block meta %}
	<link rel="stylesheet" href="">
{% endblock %}

{% block content %}
<br><br>

<div class="container">
	<div class="card-panel">
		<div class="">
			Thank you for your participation! <br>
			You would be contacted by this email if you win the $250 gift card:
			<span class="blue-text text-darken-1">{{email}}</span>)
		</div>

		
	</div>
</div>

{% endblock %}


{% block script %}     

{% endblock %} 