{% extends 'mainsite/base.html' %}
{% load static %}

{% block title %}
Travel Plan
{% endblock %}

{% block meta %}
	<link rel="stylesheet" href="">
{% endblock %}

{% block content %}
<br><br>

<div class="container">
	<div class="card-panel">
		<div class="">
			Glad to see you!<br>
			Your Email is 
			<span class="blue-text text-darken-1">
			{{email}}
			</span>
			If it is not your email, please click <a href="{% url 'mainsite:welcome' %}">here</a> to retype your own email.
		</div><br><br>
		
		<div class="red-text text-darken-1">
			* Required
		</div>
		<br><br>

		<form id="form" action="#" method="POST">
			{% csrf_token %}

			<!-- Travel Purpose -->
			<div 
				{% if form.purpose.errors %}
					class="question-div red lighten-5 "
				{% else %}
					class="question-div"
				{% endif %}
			>
				<h5>{{form.purpose.label}}:
					<span class="red-text text-darken-1">*</span>
				</h5>
				{% for radio in form.purpose %}
				<p>  
				    {{ radio.tag }}
				    <label for="{{ radio.id_for_label }}">
				    	{{ radio.choice_label }}
				    </label>
				</p>
				{% endfor %}

				<input 
					id="id_other_purpose" 
					maxlength="50" 
					name="other_purpose" 
					type="text" 
					placeholder="You can write your other purpose here"
					value="{{form.other_purpose.value|default_if_none:""}}" 
				>
			</div>

			<br><br>

			<!-- Other fields -->
			{% for field in form %}
				{% if field != form.purpose and field != form.other_purpose and field != form.airline and field != form.other_airline %}
					<div 
						{% if field.errors %}
							class="question-div red lighten-5 "
						{% else %}
							class="question-div"
						{% endif %}
					>
						<h5>{{field.label}}:
							<span class="red-text text-darken-1">*</span>
						</h5>
						
						{% for radio in field %}
						<p>  
						    {{ radio.tag }}
						    <label for="{{ radio.id_for_label }}">
						    	{{ radio.choice_label }}
						    </label>
						</p>
						{% endfor %}
						<label class="red-text text-darken-1">{{field.errors}}</label>
					</div>
					<br><br>
				{% endif %}
			{% endfor %}

			<!-- Airline -->
			<div 
				{% if form.airline.errors %}
					class="question-div red lighten-5 "
				{% else %}
					class="question-div"
				{% endif %}
			>
				<h5>{{form.airline.label}}:
					<span class="red-text text-darken-1">*</span>
				</h5>
				{{form.airline}}
				<div>
					<label class="red-text text-darken-1">{{form.airline.errors}}</label>
				</div>
				
			</div>
			

			<br><br>
			<div>
				Thank you for providing Travel Plan Information.
			</div>

			<br><br>
		</form>

		<p class="center-align col s12">
			<a class="grey darken-2 waves-effect waves-light btn " onclick="$('#form').submit()">Next</a>
		</p>
	</div>
</div>

{% endblock %}


{% block script %}     

{% endblock %} 