{% extends 'mainsite/base.html' %}
{% load static %}

{% block title %}
Pittsburgh Airport
{% endblock %}

{% block meta %}
	<!-- <link rel="stylesheet" href="{% static 'mainsite/index.css' %}"> -->
{% endblock %}

{% block content %}
<br><br>
<div class="container row">
	<div class="col s12 offset-m2 m8">
		<div class="card">
			<div class="card-image">
				<img src="http://www.leedsbradfordairport.co.uk/media/1355/airport-15.jpg">
				<span class="card-title">Welcome</span>
			</div>
			<div class="card-stacked">
				<div class="card-content">
					<p>This survey is part of research work of a Student Team at Carnegie Mellon University.</p>
				</div>

				<div class="card-action">
					<a href="#">This is a link</a>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- 
					<div class="row">
				    	<form class="col s12">
				      		<div class="row">
				        		<div class="input-field col s12">
				          			<input placeholder="Placeholder" id="first_name" type="text" class="validate">
				          			<label for="first_name">First Name</label>
				        		</div>
				        	</div>
				        </form>
				    </div>
 -->
{% endblock %}


{% block script %}     

{% endblock %} 